
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
@tailwind base;

@tailwind components;
@tailwind utilities;
@layer components{
  .btn-primary{
    @apply px-4 py-2 border-2 border-white ;
  }
  .container {
    @apply max-w-[1080px] mx-auto
  }
  .btn-secondary{
    @apply border-2 border-white rounded-md px-2; 
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #14131a;
  color:white;
  
}